* { margin: 0; padding: 0; box-sizing: border-box; }
.header { height: 50px; padding: 5px; background: #000; color: #fff; }
.tab-wrapper { 
	button { width: 25%; height: 30px; background: #ccc; 
	&.selected { background: #999; }
	}
}
